<article class="media">
  <div class="media-left">
    <figure class="image is-64x64">
      <%= image_tag 'avatar.png' %>
    </figure>
  </div>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= message.author.name %></strong> <small><%= message.author.email %></small> <small style="float:right;"><time class='timeago' datetime='<%= message.created_at.iso8601 %>'><%= message.created_at%></time></small>
        <br>
        <%= message.body %>
      </p>
    </div>
  </div>
</article>
