<!DOCTYPE html>
<html>
  <head>
    <title>Chatty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/notifications' %>

    <% if current_user %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= yield %>
  </body>
</html>
