<!DOCTYPE html>
<html>
  <head>
    <title>Chatty</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/notifications' %>

    <% if current_user %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= yield %>
  </body>
</html>
